/.idea
/backend/tmp/*
/backend/log/*
/backend/.env
/docs/.env
/docs/.env.production
/docs/.env.test
/backend/.bundle
/db/*.sqlite3
/db/*.sqlite3-*

!/backend/log/.keep
!/backend/tmp/.keep
/backend/tmp/pids/*
!/backend/tmp/pids/
!/backend/tmp/pids/.keep
/backend/storage/*
!/backend/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep
/config/master.key